@import 'styles/theme';

.game {
    font-family: 'Times New Roman';

    &.container {
        padding: 2.5em;
    }

    &.button {
        color: white;
        font-size: 13px;

        &.big {
            margin: 4.5em;
            width: 6em;
            height: 5em;
            margin-bottom: 2em;
        }

        &.small {
            margin: 2.7em;
            width: 6em;
            height: 5em;

            &.red {
                background-color: darkred;
            }

            &.black {
                background-color: black;
            }
        }
    }

    &.title {
        padding-top: 1.5em;
        padding-left: 1.5em;
    }

    &.form {
        position: relative;
        width: 40em;
        height: 35em;
        left: -10%;
        bottom: -26%;
        font-size: 15px;
        border-radius: 0.75em;
        background-color: $background;
        box-shadow: $dropShadow;
        background-image: url(/styles/images/tapete.PNG);
    }

    &.field {
        margin-top: 3em;
        margin-left: 3em;

        ::placeholder {
            color: white;
        }
    }

    &.input {
        color: white;
        height: 35px;
        width: 32.4em;
        border: none;
        border-radius: 0.75em;
        margin: 1em;
        padding-left: 1em;
        background: transparentize(white, 0.75);
    }
}
