@import 'styles/theme';

.header {
    &.container {
        @include center;
    }

    &.title {
        font-weight: bold;
        font-size: 30px;
        color: $background;
        text-align: center;
        padding-bottom: 1em;
        padding-top: 1em;
        font-family: 'Times New Roman';
    }
}