@import 'styles/theme';

.croupier {
    position: absolute;
    left: 800px;
    top: 30px;
    width: 820px;
    height: 400px;
}

.wheel {
    &.container {
        background-color: #1a1a1e;
        border-radius: $borderRadius;
        box-shadow: $dropShadow;
        margin-right: 5em;
        margin-left: 5em;
        background-image: url(/styles/images/tapete.PNG);
    }

    &.button {
        width: 30em;
        height: 5em;
        font-family: 'Times New Roman';
        color: white;
    }

    &.arrow {
        position: relative;
        border-radius: $borderRadius;
        left: 47.5%;
        top: 1%;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 50px solid black;
    }

    &.start-rotate {
        animation: start-rotate 10s linear infinite reverse;
    }

    @keyframes start-rotate {
        100% {
            transform: rotate(360deg)
        }
    }

    &.stop-rotate {
        animation-play-state: paused;
    }
}

