@import 'styles/theme';

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid $background;
    position: absolute;
    left: 64%;
    top: 75px;
    z-index: 2;
}

.wheel{
    &.start-rotate {
        animation: start-rotate 10s linear infinite reverse;
    }
    
    @keyframes start-rotate {
        100% {
            transform: rotate(360deg)
        }
    }
    
    &.stop-rotate {
        animation-play-state: paused;
    }
}

