li:nth-child(1) {
    transform: rotate(0deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #016D29;
    }

    z-index: 1
}

li:nth-child(2) {
    transform: rotate(9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }

    z-index: 1
}

li:nth-child(3) {
    transform: rotate(2*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(4) {
    transform: rotate(3*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(5) {
    transform: rotate(4*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(6) {
    transform: rotate(5*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(7) {
    transform: rotate(6*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(8) {
    transform: rotate(7*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(9) {
    transform: rotate(8*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(10) {
    transform: rotate(9*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(11) {
    transform: rotate(10*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(12) {
    transform: rotate(11*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(13) {
    transform: rotate(12*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(14) {
    transform: rotate(13*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(15) {
    transform: rotate(14*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(16) {
    transform: rotate(15*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(17) {
    transform: rotate(16*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(18) {
    transform: rotate(17*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(19) {
    transform: rotate(18*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(20) {
    transform: rotate(19*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(21) {
    transform: rotate(20*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(22) {
    transform: rotate(21*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(23) {
    transform: rotate(22*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(24) {
    transform: rotate(23*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(25) {
    transform: rotate(24*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(26) {
    transform: rotate(25*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(27) {
    transform: rotate(26*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(28) {
    transform: rotate(27*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(29) {
    transform: rotate(28*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(30) {
    transform: rotate(29*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(31) {
    transform: rotate(30*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(32) {
    transform: rotate(31*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(33) {
    transform: rotate(32*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(34) {
    transform: rotate(33*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(35) {
    transform: rotate(34*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

li:nth-child(36) {
    transform: rotate(35*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #E0080B;
    }
}

li:nth-child(37) {
    transform: rotate(36*9.729729729729729deg) skewY(-19.459459459459459459deg);

    .text {
        background-color: #000000;
    }
}

.circle {
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(19.459459459459459459deg) rotate(4.864864864864864deg);
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid black;
    position: absolute;
    left: 50%;
    top: 70px;
    z-index: 2;
}

.start-rotate {
    animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate {
    100% {
        transform: rotate(360deg)
    }
}

.stop-rotate{
    animation-play-state: paused;
}