@import 'styles/theme';

$sidebar-bg-color: $background;
$sidebar-color: $textColor;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.base-container {
    max-width: $DESKTOP_WIDTH;
    color: $textColor;
    display: flex;
    flex-direction: row;

    &.sidebar {
        margin-left: 0px;
        padding-left: 0px;
    }
}
